@charset "UTF-8";
body {
	max-width: 1200px;
	width: 100vw;
	margin: 0;	
	font-family:"微軟正黑體", "Space Mono", sans-serif;
	font-size: 18px;
	line-height: 1.4em;
	background-color: #CFF;
	background: url(images/iceland-bg.jpg) no-repeat center top;
	background-size: cover;
	background-attachment: fixed; 	
}

	.web_head {    /* 冰島自助旅行去 */
		background-color: #FFF;		  
		padding: 8px 8px 15px 30px;		  
		position: fixed;
		top: 0;	      
        left: 0;
        width: 100%;
        z-index: 99;	      
  		margin: auto;
  		opacity: 0.9;
  		filter: alpha(opacity=90); /* For IE8 and earlier */
  		  		  
	}
		.web_head h2 {
		  font-size: 32px;
		  margin-left: auto;		  
		}
		.web_head p {
		  font-size: 20px;
		  margin-left: 10px;
		}

	.nav {		    /* 右上按鈕選單 */
		position: fixed;
		right: 10px;
		top: 15px;	
		width: 100%;	
		z-index: 100;
		text-align: right;
	}
	.nav > ul {
		display: inline;
	}
	.search-bar {
		display: inline;	
		padding: 5px;
	}
		.search-bar input {				
			background-color: #FFF;
			border: 1px solid #09C;
			padding: 7px;
			border-radius: 4px;
			color: #09C;
			font-size: 16px;
		}	
		.search-bar button {
			background-color: #FFF;
			border: 1px solid #09C;
			color: #09C;
			padding: 4px 10px;
			border-radius: 4px;
			cursor: pointer;
			font-size: 16px;
			line-height: 1.5;			
		}
			.search-bar button:hover {
				background-color: #09C;
				color: #FFF;
			}
			.search-bar button:active {
				background-color: #09C;
				color: #FFF;
			}
	.contact-btn {  
		display: inline;	
		padding: 5px;		  
		text-align: center;		  
	}

		.contact-btn a {
			line-height: 60px;
			background-color: #FFF;
			border: 1px solid #09C;
			padding: 7px;
			border-radius: 4px;
			color: #09C;
			text-decoration: none;
		}
		
			.contact-btn a:hover {
				background-color: #09C;
				color: #FFF;				
			}

			.contact-btn a:active {
				position: relative;
				top: 2px;
				left: 1px;
			}
			

	.tp a {
		background-color: #09C;
		color: #FFF;
	}    
	.phoneBar {
		display: none;
	}
	.phoneMenu {
		display: none;
	}

	.wrap {
		margin: 0 auto;		
		width: 100vw;		
		/*height: 100vh;*/
	}
	.con {
	  margin: 170px 10% 2px 10%;
	  font-size: 22px;
	  width: 80%;
	}

	.container {
		width: 75%;
		margin: 0 auto;
		text-align: left;		
	}

	.content {
		font-size: 22px;
		border-radius: 4px;
		background-color: #FFF;
		color: #000;
		border: 1px solid #FFF;
		margin: 10px auto;
		padding: 15px;
		width: 75%;
  		opacity: 0.7;
  		filter: alpha(opacity=70); /* For IE8 and earlier */
		}
		.content img {
			width: 60%;
			margin: 10px auto;	
			padding: 15px 20%;		
		}

		.content img:hover {
			width: 80%;
			margin: 10px auto;	
			padding: 15px 10%;		
		}

		.content img:active {
			width: 80%;
			margin: 10px auto;	
			padding: 15px 10%;		
		}
	.showImg {  /* new  */
	      background-color: rgba(210,255,255,0.9);      
	      position: fixed;
	      left: 0;
	      top: 140px;
	      width: 100%;
	      height: 100vh;
	      z-index: 1000;
	      text-align: center;
    	}
	    .showImg div {
	      text-align: center;
	    }	
	#pic_content {       
	      margin-top: 10px; 
	      margin-left: 5%; 
	      font-weight: 800;
	      font-size: 20px;	      
	      text-align: center;
	      text-shadow: 1px 1px 2px #AAA;
	}
	#big_pic {   
	      margin-top: 10px; 
	      margin-left: 5%;
	      background-color: #FFF;
	      width: 45%;
	      border: 1px solid #FFF;
	      box-shadow: 2px 2px 2px 2px #AAA;
	}
	#close {        
	      background-color: #09F;
	      border: 1px solid #09F;
	      box-shadow: 2px 2px 2px 1px #07F;
	      padding: 5px;
	      text-align: center;
	      border-radius: 4px;
	      color: #FFF;
	      font-weight: 800;
	      float: right;
	      right: 0;
	      top: 0; 
	      width: 30px;
	      height: 30px; 
	      cursor: pointer;        
	}		
	
		

	.gallery { 
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 10px;
	}

	.gallery-item {
  		  margin: 20px;
  		  width: 240px;
		  border: 2px solid #FFF;
		  border-radius: 4px;
		  background-color: #FFF;
		  opacity: 0.8;
  		  filter: alpha(opacity=80); /* For IE8 and earlier */
  		  transition: all 0.5s ease-in-out;
	}
    	.thumbnail {
		width: 100%;
		height: auto;
	}
		.thumbnail:hover {
			width: 100%;
		    height: auto;
		    border: 1px solid #0CF;
		    opacity: 0.8;
  		    filter: alpha(opacity=80); /* For IE8 and earlier */
  		    cursor: pointer;
		}
		
	figcaption {
		padding: 10px;
		text-align: center;
	}
	@media only screen and (max-width: 1200px){  /* 2/3 */
		#big_pic {   		    
		    width: 70%;
		}
		.nav > ul {
			display: none;
		}
		.phoneBar {
			display: inline;
			float: right;
			color: #09C;
	      	font-size: 25px;
	      	border: 1px solid #09C;
	      	width: 40px;
	      	height: 40px;
		    line-height: 40px;
	      	text-align: center;
	      	margin-top: 10px;
	      	border-radius: 4px;
	        cursor: pointer;
	      	display: block; 
		}
		.phoneMenu {
			width: 120px;
			padding: 5px;			
			display: none;
			position: fixed;
			top: 130px;
			right: 10px;
			z-index: 100;		
			background-color: rgba(255,255,255,0.9);
			text-align: center;	
			border-radius: 3px;	
			border: 1px solid #09C;
			
		}		
			.phoneMenu > ul {
				list-style:none;
				padding: 0;	
			}
			.phoneMenu > ul > li{			
				margin: 5px auto;
				color: #09C;			
			}
			.phoneMenu a {
				color: #09C;
				text-decoration: none;
			}
			.phoneMenu a:hover {
				font-weight: 800;
			}
	}	
	@media only screen and (min-width: 320px) and (max-width: 480px), (orientation: portrait) {
		.gallery-item {
		    width: 85%;
		    transition: all 0.5s ease;
		}
		#big_pic {   /* new  */	      
	      	width: 90%;	    
	    }
	}

	.spend {
		text-align: center;
		border: 1px solid #09F;
		border-radius: 4px;
		margin: 10px auto;
		width: 92%;
		color: #003;
	}	

		.spend th {
			text-align: center;
			background-color: #6CF;						
		} 		

		.spend th, .spend td {			
			border: 1px solid #39C;
			padding: 0.25rem;
		}

	.col_a {
		width: 16%;
	}		

	.spend_content {
		text-align: left; 	
		width: 64%;		
	}

	.count_t {
		text-align: right;
		width: 5%;
	}

	.count_a {
		text-align: right;
		width: 5%;
	}
.footer {
	width: 100vw;	
	left: 0;
	bottom: 0;
	clear: both;		
	background-color: #000;
	color: #FFF;
	text-align: center;
	line-height: 2;
	padding: 15px;
}
